    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5px;
        padding: 5px;
        justify-content: space-around;
    }
    img {
        height: 150px;
        display:flex;
        align-items: center;
        margin: 5px;
    }
    img:hover {
        opacity: .5;
        cursor: zoom-in;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);   
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
    }
    img:active {
        display: flex;
        justify-content: center;
        opacity: 1;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(2);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(2);   
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(2);
        transition: all 200ms ease-in;
        transform: scale(2);
    }
    body {
        background: black;
    }