
.wrapper {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: 5px 5px 0px 5px;
    }

    img {
        height: 150px;
        width: 300px;
    }
    img:hover {
        background: black;
        opacity: 0.5;
    }